<div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center ">
       
        <!-- Dropdown button aligned to the right -->
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle custom-btn anual" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                سنويا
              </button>
        </div>
        <div class="d-flex flex-column " dir="rtl">
            <div class="fw-bold analytics">
              احصائيات استخدام القسيمة
            </div>
            <!-- New text element below the existing one -->
            <div class="additional-info mt-2 date2">
                05 يوليو , 2023 - 05 أغسطس , 2023  
            </div>
          </div>
      </div>
      <div id="chart" ></div>
    </div>
  </div>
  