<div class="ticket p-3">
  <div class="d-flex justify-content-between align-items-center w-100">
    <div class="btn-delete">
      <i class="fa-regular fa-trash-can" pTooltip="حذف" tooltipPosition="bottom"></i>
    </div>    
    <div class="d-flex align-items-center justify-content-center flex-grow-1 text-center">
      <p class="mb-0 view1">عرض التذكرة الخاصة بالفيلم</p>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center text-center mt-2 responsive-url">
    <div class="d-flex bg-white text-black border px-2 w-100">
      <div class="d-flex align-items-center justify-content-center flex-wrap w-100 ">
        <div class="right-arrow p-2">
          <i class="fa-regular fa-copy"></i>    
        </div>
        <span class="fw-bold url-text">www.tazkty.com/473847</span>
      </div>
    </div>
  </div>
  
  <div class="d-flex align-items-center justify-content-center text-center mt-2">
    <p class="date1">فعال حتي 15 يوليو 2023</p>
  </div>
  
  <!-- Section with "مشاركة" button and discount -->
  <div class="d-flex align-items-center justify-content-between">
    <div >
      <qrcode style="border-radius: 4px;" [qrdata]="'Your data string'" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div class="text-end">
      <p class="sale1">خصم</p>
      <div class="d-flex align-items-center">
        <div class="d-flex">
          <button class="btn btn-outline-primary custom-button d-flex align-items-center me-2">
            <span class="me-1 share1">مشاركة</span>
            <i class="fa-regular fa-paper-plane fa-flip-horizontal"></i>
          </button>                  
        </div>  
        <div class="twentyfive">25%</div>
      </div>
    </div>
  </div>
  
</div>
